{% extends "master.html" %}
{% load static %}

{% block title %}Todo List{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Todo List</h2>
        <a href="{% url "todo_add" %}" class="btn btn-success mb-3">Add New Task</a>
        <ul class="list-group">
            {% for todo in todos %}
                <li class="list-group-item">
                    {% include "todo/item.html" with todo=todo %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'styles/transitions.css'%}" />
{% endblock %}
