{% extends "master.html" %}

{% load static %}

{% block title %}Todo List{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Todo List</h2>
        <button class="btn btn-success mb-3" id="add-new-task-button">Add New Task</button>
        <div id="new-task-form-container" class="mb-3" style="display: none;">
            <input type="text" id="new-task-title" class="form-control mb-1" placeholder="Task Title">
            <textarea id="new-task-description" class="form-control mb-1" placeholder="Task Description"></textarea>
            <button class="btn btn-primary btn-sm" id="save-new-task-button">Save</button>
            <button class="btn btn-secondary btn-sm" id="cancel-new-task-button">Cancel</button>
        </div>
        <ul class="list-group">
            {% for todo in todos %}
                <li class="list-group-item" id="todo-{{ todo.pk }}">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="todo-content" data-id="{{ todo.pk }}">
                            <h5 class="mb-1 todo-title">{{ todo.title }}</h5>
                            <p class="mb-1 text-muted todo-description">{{ todo.description }}</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <input type="checkbox" class="todo-completed-checkbox me-2 form-check-input" data-id="{{ todo.pk }}" {% if todo.completed %}checked{% endif %}>
                            <span id="badge-{{ todo.pk }}" class="badge {% if todo.completed %}bg-success{% else %}bg-warning{% endif %}">
                                 {% if todo.completed %}
                                Completed on {{ todo.completed_at|date:"Y-m-d H:i" }}
                            {% else %}
                                Not Completed
                            {% endif %}
                            </span>
                            <button class="btn btn-primary btn-sm ms-3 edit-todo-button" data-id="{{ todo.pk }}">Edit</button>
                            <button class="btn btn-danger btn-sm ms-3 delete-todo-button" data-id="{{ todo.pk }}">Delete</button>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'scripts/todo.js' %}"></script>
{% endblock %}